@charset "utf-8";
       html
       {
         font-family: sans-serif;
       }
 /*      a
        {
            background-color: yellow;
            color: blue;
        }
        p
        {
            color:white;
            background: blue;
            border: medium solid black;
            height:  2em;
            font-size: 2 rem;
        }
        span
        {
            border: inherit;    
        }
    
        #w3clink
        {
            background:grey;
            color:white;
            padding:5px;
            border:thin solid black;
        }
        .class1
        {
            font-size: x-large;
        }
        
        .class2
        {
            background-color: rgba(112,128,144,0.4);
            color: hsla(120,100%, 22%, 0.6);
            padding:5px;
            margin:2px;
        }
        .bbclink {
        	background: grey; 
        	color:white; 
        	padding: 10px
        }
        span
        {
            border: medium dashed black;
            padding:10px;
        }
*/
 .large {
 	font-size: 200%;
 }
 #green {
 color:green;
 }
 .underline {
 text-decoration: underline;
 }
 .bold {
 font-weight:bold;
 }
 .bluebox {
 background-color:blue;
 width:200px;
 height:200px;
 }
 .redbox {
 background-color:red;
 width:300px;
 height:100px;
 position:absolute;
 z-index:2; /* must have position type to be effective */
 }
 .purplebox {
 background-color:#b404ae;
 width:200px;
 height:200px;
 position:relative;
 top:-50px;
 left:-100px;

 z-index:1;
 
 }
  .greenbox {
 background-color:#295715;
 width:200px;
 height:200px;

 }